body{
    background-color:#21394C;
}
p{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
h1{
    font-size: 120px;
    font-family: 'Lobster Two', cursive;
}
    #c{
    color: #6EBEFF;}
#r{
    color: #C154E8;}
#e{
    color: #E8CF26;}
#a{
    color: #4DFC75;}
#t{
    color: #E86C26;}
#i{
    color: #BDFFFF;}
#v{
    color: red;}
#e{
    color: #E8CF26;}